*.suo
*.user
*.userprefs
*.pidb
.DS_Store
samples/Clock/ClockWP7/Bin/
samples/Clock/ClockWP7/obj/
samples/Clock/ClockAndroid/bin/
samples/Clock/ClockAndroid/obj/
samples/Clock/ClockSilverlight/Bin/
samples/Clock/ClockSilverlight/obj/
samples/Clock/ClockSvg/bin/
samples/Clock/ClockSvg/obj/
samples/Clock/ClockiOS/bin/
samples/Clock/ClockiOS/obj/
samples/Clock/ClockMac/bin/
samples/Clock/ClockMac/obj/
