*.suo
*.user
samples/Clock/ClockWP7/Bin/
samples/Clock/ClockWP7/obj/
samples/Clock/ClockAndroid/bin/
samples/Clock/ClockAndroid/obj/
samples/Clock/ClockSilverlight/Bin/
samples/Clock/ClockSilverlight/obj/
samples/Clock/ClockSvg/bin/
samples/Clock/ClockSvg/obj/

